### macOS ###
*.DS_Store

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
